*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(107, 130, 152, 1);
}
.po {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.pop2 {
    float: left;
    padding-left: 10px;
    margin-top: 10px;
}
.pop2 a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-family: 'Poppins';

}
.pop2 a:hover {
    background-color: #111111;
}
.pop {
    float: right;
    padding-left: 10px;
    margin-top: 10px;
}
.pop a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;

}
.pop a:hover {
    background-color: #111111;
}
.op{
    margin-top: 15px;
}
h1{
    text-align: center;
    font-family: 'Orelega One';
font-style: normal;
}




    .country{
        position: absolute;
    width: 200px;
    height: 58px;
    left: 70px;
    top: 177px;
    
    font-family: 'Noticia Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    
    color: #000000;
    
    }
    .categories{
        position: absolute;
    width: 244px;
    height: 55px;
    left: 70px;
    top: 490px;
    
    font-family: 'Noticia Text';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 55px;
    
    text-align: center;
    
    color: #000000;
    
    }
    .kotak1{
        text-decoration: none;
    position: absolute;
    width: 200px;
    height: 68px;
    left: 70px;
    top: 260px;
    
    background: #BC9090;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    } 
    .isi p{
        text-decoration: none;

    }
    .isi{
        text-align: center;
        font-family: 'Oxygen Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 65px;
        color: white;
        text-decoration: none;
    }
    .kotak2{
        position: absolute;
        width: 200px;
        height: 68px;
        left: 290px;
        top: 260px;
        
        background: #BC9090;
        border: 3px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;  
    }
    .kotak3{
        position: absolute;
        width: 200px;
        height: 68px;
        left: 510px;
        top: 260px;
        
        background: #BC9090;
        border: 3px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px; 
    }
    .kotak4{
        position: absolute;
    width: 200px;
    height: 68px;
    left: 730px;
    top: 260px;
    
    background: #BC9090;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    }
    .kotak5{
        position: absolute;
        width: 200px;
        height: 68px;
        left: 950px;
        top: 260px;
        
        background: #BC9090;
        border: 3px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px; 
    }
    .kotak6{
        position: absolute;
    width: 200px;
    height: 68px;
    left: 1170px;
    top: 260px;
    
    background: #BC9090;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    }
    .kotak7{
        position: absolute;
    width: 200px;
    height: 68px;
    left: 70px;
    top: 374px;
    
    background: #BC9090;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    }
    .kotak8{
        position: absolute;
    width: 200px;
    height: 68px;
    left: 290px;
    top: 374px;
    
    background: #BC9090;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    }
    .kotak9{
        position: absolute;
        width: 200px;
        height: 68px;
        left: 510px;
        top: 374px;
        
        background: #BC9090;
        border: 3px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;  
    }
    .kotak10{
        position: absolute;
        width: 200px;
        height: 68px;
        left: 730px;
        top: 374px;
        
        background: #BC9090;
        border: 3px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;  
    }
    .kotak11{
        position: absolute;
    width: 200px;
    height: 68px;
    left: 950px;
    top: 374px;
    
    background: #BC9090;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    }
    .kotak12{
        position: absolute;
    width: 200px;
    height: 68px;
    left: 1170px;
    top: 374px;
    
    background: #BC9090;
    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    }
    
    .isi2{
        text-align: center;
        font-family: 'Oxygen Mono';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 65px;
        color: #BC9090;
    }
    .kotak13{
        box-sizing: border-box;
    
    position: absolute;
    width: 200px;
    height: 68px;
    left: 70px;
    top: 575px;
    
    background: #FFFFFF;
    border: 3px solid #BC9090;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    }
    .kotak14{
        box-sizing: border-box;
    
        position: absolute;
        width: 200px;
        height: 68px;
        left: 290px;
        top: 575px;
        
        background: #FFFFFF;
        border: 3px solid #BC9090;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;   
    }
    .kotak15{
        box-sizing: border-box;
    
        position: absolute;
        width: 200px;
        height: 68px;
        left: 510px;
        top: 575px;
        
        background: #FFFFFF;
        border: 3px solid #BC9090;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .kotak16{
        box-sizing: border-box;
    
        position: absolute;
        width: 200px;
        height: 68px;
        left: 730px;
        top: 575px;
        
        background: #FFFFFF;
        border: 3px solid #BC9090;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .kotak17{
        box-sizing: border-box;
    
        position: absolute;
        width: 200px;
        height: 68px;
        left: 950px;
        top: 575px;
        
        background: #FFFFFF;
        border: 3px solid #BC9090;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .kotak18{
        box-sizing: border-box;
    
        position: absolute;
        width: 200px;
        height: 68px;
        left: 1170px;
        top: 575px;
        
        background: #FFFFFF;
        border: 3px solid #BC9090;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .kotak19{
        box-sizing: border-box;
    
        position: absolute;
        width: 200px;
        height: 68px;
        left: 70px;
        top: 689px;
        
        background: #FFFFFF;
        border: 3px solid #BC9090;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .kotak20{
        box-sizing: border-box;
    
        position: absolute;
        width: 200px;
        height: 68px;
        left: 290px;
        top: 689px;
        
        background: #FFFFFF;
        border: 3px solid #BC9090;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .kotak21{
        box-sizing: border-box;
    
        position: absolute;
        width: 200px;
        height: 68px;
        left: 510px;
        top: 689px;
        
        background: #FFFFFF;
        border: 3px solid #BC9090;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .kotak22{
        box-sizing: border-box;
    
        position: absolute;
        width: 200px;
        height: 68px;
        left: 730px;
        top: 689px;
        
        background: #FFFFFF;
        border: 3px solid #BC9090;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .kotak23{
        box-sizing: border-box;
    
        position: absolute;
        width: 200px;
        height: 68px;
        left: 950px;
        top: 689px;
        
        background: #FFFFFF;
        border: 3px solid #BC9090;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .kotak24{
        box-sizing: border-box;
    
        position: absolute;
        width: 200px;
        height: 68px;
        left: 1170px;
        top: 689px;
        
        background: #FFFFFF;
        border: 3px solid #BC9090;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }